body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14;
}

header, footer {
    color: darkslategrey;
}

.serviziHome {
    margin-left: 20%;
    list-style-type: none;
    max-width: 60%;
} 
.container-fluid {
    max-width:100%;
}

.form-check > .form-check-input {
  float: none;
    margin-right: 0em;}
    
    .scurisci {
        transition: 0.5s;
    }
.scurisci:hover {  background-color: blanchedalmond;
    border-radius: 10%;
    padding: 15px, 20px;
    transition: 1s;
    transition-delay: 0.1s;
}
.nav-item {
        padding: 16px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
      }
.nav-item:hover {
    background-color: blanchedalmond;
    border-radius: 50%;
    padding: 15px, 20px;
    transition: 0.8s;
    transition-delay: 0.1s;
}
.navbar-brand > img{
    border-radius: 50%;
}